# Importing required Libraries

In [24]:
import pandas as pd
import json

# Reading the CSV file

In [25]:
df = pd.read_csv('StudentsPerformance.csv')

# Creating summary of the data

In [26]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [27]:
summary = {}

In [17]:
summary['Gender'] = ((df.groupby('gender')[['math score','reading score','writing score']].mean()).T).to_dict()

In [18]:
summary['Race/Ethnicity'] = ((df.groupby('race/ethnicity')[['math score','reading score','writing score']].mean()).T).to_dict()

In [19]:
summary['Parental level of education'] = ((df.groupby('parental level of education')[['math score','reading score','writing score']].mean()).T).to_dict()

In [20]:
summary['Lunch'] = ((df.groupby('lunch')[['math score','reading score','writing score']].mean()).T).to_dict()

In [21]:
summary['Test preparation course'] = ((df.groupby('test preparation course')[['math score','reading score','writing score']].mean()).T).to_dict()

# Creating output json file

In [22]:
summary_json = json.dumps(summary , indent=3)

# Writing the json file

In [23]:
with open("summary.json", "w") as f:
    f.write(summary_json)

In [28]:
summary_json

'{\n   "Gender": {\n      "female": {\n         "math score": 63.633204633204635,\n         "reading score": 72.60810810810811,\n         "writing score": 72.46718146718146\n      },\n      "male": {\n         "math score": 68.72821576763485,\n         "reading score": 65.47302904564316,\n         "writing score": 63.31120331950208\n      }\n   },\n   "Race/Ethnicity": {\n      "group A": {\n         "math score": 61.62921348314607,\n         "reading score": 64.67415730337079,\n         "writing score": 62.674157303370784\n      },\n      "group B": {\n         "math score": 63.45263157894737,\n         "reading score": 67.35263157894737,\n         "writing score": 65.6\n      },\n      "group C": {\n         "math score": 64.46394984326018,\n         "reading score": 69.10344827586206,\n         "writing score": 67.82758620689656\n      },\n      "group D": {\n         "math score": 67.36259541984732,\n         "reading score": 70.03053435114504,\n         "writing score": 70.14503816793894\n      },\n      "group E": {\n         "math score": 73.82142857142857,\n         "reading score": 73.02857142857142,\n         "writing score": 71.40714285714286\n      }\n   },\n   "Parental level of education": {\n      "associate\'s degree": {\n         "math score": 67.88288288288288,\n         "reading score": 70.92792792792793,\n         "writing score": 69.8963963963964\n      },\n      "bachelor\'s degree": {\n         "math score": 69.38983050847457,\n         "reading score": 73.0,\n         "writing score": 73.38135593220339\n      },\n      "high school": {\n         "math score": 62.13775510204081,\n         "reading score": 64.70408163265306,\n         "writing score": 62.44897959183673\n      },\n      "master\'s degree": {\n         "math score": 69.7457627118644,\n         "reading score": 75.37288135593221,\n         "writing score": 75.67796610169492\n      },\n      "some college": {\n         "math score": 67.1283185840708,\n         "reading score": 69.46017699115045,\n         "writing score": 68.84070796460178\n      },\n      "some high school": {\n         "math score": 63.497206703910614,\n         "reading score": 66.93854748603351,\n         "writing score": 64.88826815642459\n      }\n   },\n   "Lunch": {\n      "free/reduced": {\n         "math score": 58.92112676056338,\n         "reading score": 64.65352112676057,\n         "writing score": 63.02253521126761\n      },\n      "standard": {\n         "math score": 70.03410852713178,\n         "reading score": 71.65426356589147,\n         "writing score": 70.8232558139535\n      }\n   },\n   "Test preparation course": {\n      "completed": {\n         "math score": 69.69553072625699,\n         "reading score": 73.89385474860335,\n         "writing score": 74.41899441340782\n      },\n      "none": {\n         "math score": 64.0778816199377,\n         "reading score": 66.53426791277259,\n         "writing score": 64.50467289719626\n      }\n   }\n}'