# Importing required Libraries

In [1]:
import pandas as pd
import json

# Reading the CSV file

In [2]:
df = pd.read_csv('StudentsPerformance.csv')

# Creating summary of the data

In [3]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
summary = {}

In [5]:
summary['Gender'] = ((df.groupby('gender')[['math score','reading score','writing score']].mean()).T).to_dict()

In [6]:
summary['Race/Ethnicity'] = ((df.groupby('race/ethnicity')[['math score','reading score','writing score']].mean()).T).to_dict()

In [7]:
summary['Parental level of education'] = ((df.groupby('parental level of education')[['math score','reading score','writing score']].mean()).T).to_dict()

In [8]:
summary['Lunch'] = ((df.groupby('lunch')[['math score','reading score','writing score']].mean()).T).to_dict()

In [9]:
summary['Test preparation course'] = ((df.groupby('test preparation course')[['math score','reading score','writing score']].mean()).T).to_dict()

# Creating output json file

In [10]:
summary_json = json.dumps(summary , indent=3)

# Writing the json file

In [11]:
with open("summary.json", "w") as f:
    f.write(summary_json)